*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#faf7ff;
    color:#333;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid #d8c6ff;
}

h1{
    margin-top:20px;
    font-size:3rem;
    color:#6f42c1;
}

.tagline{
    margin-top:10px;
    font-size:1.1rem;
}

.links{
    margin-top:25px;
}

.links a{
    text-decoration:none;
    background:#d8c6ff;
    color:black;
    padding:10px 18px;
    margin:5px;
    border-radius:30px;
}

section{
    padding:80px 10%;
}

h2{
    margin-bottom:20px;
    color:#6f42c1;
}

.cards{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.card{
    background:#ece2ff;
    padding:15px 25px;
    border-radius:20px;
}

.project{
    background:white;
    padding:20px;
    margin-top:15px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}